
body {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	
	/*
		font-size: 16px; equal to 1em equal to 100%
		font-size: 32px; equal to 2em equal to 200%	
		The margin property works like font-size. Ex margin: 2em = 200% = 32px
	*/
}

a
{
	text-decoration: none;
	cursor: pointer;
	color: darkblue;
}

table {
	table-layout: auto;
	width: 100%;
/*	border: 1px solid gray;
	border-spacing: 10px; */
	margin-left: auto;
	margin-right: auto;
	background-color: lavender;
}

hr {
	size: 1;
	border-top: 1px solid blue;
}

th {
	border: 1px solid gray;
	border-radius: 8px;
/*	border-radius:6px;
	background-color: #39B5E0; */
}

thead {
	font-family: 'Bad Script', fantasy;
	font-size: 1.5rem; 
	text-align:left;

}

td {
	border: 1px solid white;
	font-size: 1rem;
/*	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px;
	border: 1px solid blue;
	border-radius:6px;
	background-color: #A8D1D1; */
}

span:hover {
	background-color: #A8D1D1;
}

.title {
	border: none;
	padding: 5px;

}

.my_link {
	background-color: lightblue;
/*	font-weight: bold; */
	text-align: center;
	padding: 5px;
	border: 1px solid blue;
	border-radius: 6px;
	float: left;
	margin: 4px;
	
}

.signature {
	font-family: 'Mrs Saint Delafield', cursive;
	font-size: 30px; 
	color: darkblue
}

.div_signature {
	font-family: "Times New Roman"; 
	font-size: 0.8em; 
	text-align:center;
	background-color: lavender;
}

